/*

Flex-Grid
Author: Charles Ojukwu

*/
/*
    Styles
*/
table {
  border-collapse: collapse;
  margin: 0 auto; }

td {
  border: 1px solid #bbb;
  padding: .25em; }

/*
	Grid
*/
*, *:before, *:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.g0 {
  margin: 0; }

.gs {
  margin: -0.5em; }

.gl {
  margin: -1.5em; }

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: -1em;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.col {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block;
  flex-grow: 1; }
  .stripes .col {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }

.col-1 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-1 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-1 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-1 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-1 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-1 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-1 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-1 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-2 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-2 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-2 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-2 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-2 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-2 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-2 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-2 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-3 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-3 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-3 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-3 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-3 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-3 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-3 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-3 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-4 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-4 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-4 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-4 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-4 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-4 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-4 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-4 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-5 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-5 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-5 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-5 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-5 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-5 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-5 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-5 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-6 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-6 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-6 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-6 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-6 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-6 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-6 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-6 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-7 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-7 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-7 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-7 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-7 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-7 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-7 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-7 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-8 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-8 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-8 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-8 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-8 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-8 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-8 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-8 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-9 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-9 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-9 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-9 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-9 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-9 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-9 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-9 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-10 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-10 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-10 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-10 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-10 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-10 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-11 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-11 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-11 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-11 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-11 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-11 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-11 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-11 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.col-12 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .col-12 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }
  .g0 .col-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0;
    display: block; }
    .stripes .g0 .col-12 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gs .col-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 0.5em;
    display: block; }
    .stripes .gs .col-12 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }
  .gl .col-12 {
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    margin: 1.5em;
    display: block; }
    .stripes .gl .col-12 {
      border-radius: 4px;
      border: #e34 solid 1px;
      color: #e34;
      background-image: url("../img/column-stripe-2x.png");
      background-color: #f8f8f8;
      background-size: 20px 20px; }

.nested {
  padding: 0.5rem; }

.header2, .footer2 {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .header2, .stripes .footer2 {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }

.sidebar {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .sidebar {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }

.content {
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  margin: 1em;
  display: block; }
  .stripes .content {
    border-radius: 4px;
    border: #e34 solid 1px;
    color: #e34;
    background-image: url("../img/column-stripe-2x.png");
    background-color: #f8f8f8;
    background-size: 20px 20px; }

.sidebar::before, .content::before {
  content: '';
  display: inline-block;
  vertical-align: middle;
  width: 0px;
  height: 100%; }

@media screen and (min-width: 640px) {
    .col {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      -ms-flex-preferred-size: 0;
      flex-basis: 0;
      max-width: 100%;
      margin: 1em; }
    .col-1 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(8.33333% - 2em);
      margin: 1em; }
      .g0 .col-1 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(8.33333% - 0);
        margin: 0; }
      .gs .col-1 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(8.33333% - 1em);
        margin: 0.5em; }
      .gl .col-1 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(8.33333% - 3em);
        margin: 1.5em; }
    .col-2 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(16.66667% - 2em);
      margin: 1em; }
      .g0 .col-2 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(16.66667% - 0);
        margin: 0; }
      .gs .col-2 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(16.66667% - 1em);
        margin: 0.5em; }
      .gl .col-2 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(16.66667% - 3em);
        margin: 1.5em; }
    .col-3 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(25% - 2em);
      margin: 1em; }
      .g0 .col-3 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(25% - 0);
        margin: 0; }
      .gs .col-3 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(25% - 1em);
        margin: 0.5em; }
      .gl .col-3 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(25% - 3em);
        margin: 1.5em; }
    .col-4 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(33.33333% - 2em);
      margin: 1em; }
      .g0 .col-4 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(33.33333% - 0);
        margin: 0; }
      .gs .col-4 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(33.33333% - 1em);
        margin: 0.5em; }
      .gl .col-4 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(33.33333% - 3em);
        margin: 1.5em; }
    .col-5 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(41.66667% - 2em);
      margin: 1em; }
      .g0 .col-5 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(41.66667% - 0);
        margin: 0; }
      .gs .col-5 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(41.66667% - 1em);
        margin: 0.5em; }
      .gl .col-5 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(41.66667% - 3em);
        margin: 1.5em; }
    .col-6 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(50% - 2em);
      margin: 1em; }
      .g0 .col-6 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(50% - 0);
        margin: 0; }
      .gs .col-6 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(50% - 1em);
        margin: 0.5em; }
      .gl .col-6 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(50% - 3em);
        margin: 1.5em; }
    .col-7 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(58.33333% - 2em);
      margin: 1em; }
      .g0 .col-7 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(58.33333% - 0);
        margin: 0; }
      .gs .col-7 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(58.33333% - 1em);
        margin: 0.5em; }
      .gl .col-7 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(58.33333% - 3em);
        margin: 1.5em; }
    .col-8 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(66.66667% - 2em);
      margin: 1em; }
      .g0 .col-8 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(66.66667% - 0);
        margin: 0; }
      .gs .col-8 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(66.66667% - 1em);
        margin: 0.5em; }
      .gl .col-8 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(66.66667% - 3em);
        margin: 1.5em; }
    .col-9 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(75% - 2em);
      margin: 1em; }
      .g0 .col-9 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(75% - 0);
        margin: 0; }
      .gs .col-9 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(75% - 1em);
        margin: 0.5em; }
      .gl .col-9 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(75% - 3em);
        margin: 1.5em; }
    .col-10 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(83.33333% - 2em);
      margin: 1em; }
      .g0 .col-10 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(83.33333% - 0);
        margin: 0; }
      .gs .col-10 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(83.33333% - 1em);
        margin: 0.5em; }
      .gl .col-10 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(83.33333% - 3em);
        margin: 1.5em; }
    .col-11 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(91.66667% - 2em);
      margin: 1em; }
      .g0 .col-11 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(91.66667% - 0);
        margin: 0; }
      .gs .col-11 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(91.66667% - 1em);
        margin: 0.5em; }
      .gl .col-11 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(91.66667% - 3em);
        margin: 1.5em; }
    .col-12 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(100% - 2em);
      margin: 1em; }
      .g0 .col-12 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(100% - 0);
        margin: 0; }
      .gs .col-12 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(100% - 1em);
        margin: 0.5em; }
      .gl .col-12 {
        -webkit-box-flex: 0;
        -ms-flex-positive: 0;
        flex-grow: 0;
        -ms-flex-preferred-size: auto;
        flex-basis: auto;
        width: calc(100% - 3em);
        margin: 1.5em; }
  .push-1 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 8.33333%; }
  .push-2 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 16.66667%; }
  .push-3 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 25%; }
  .push-4 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 33.33333%; }
  .push-5 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 41.66667%; }
  .push-6 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 50%; }
  .push-7 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 58.33333%; }
  .push-8 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 66.66667%; }
  .push-9 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 75%; }
  .push-10 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 83.33333%; }
  .push-11 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 91.66667%; }
  .push-12 {
    position: relative;
    -webkit-box-flex: initial;
    -ms-flex-positive: initial;
    flex-grow: initial;
    left: 100%; }
    .header2, .footer2 {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(100% - 2em);
      margin: 1em; }
    .sidebar {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(25% - 2em);
      margin: 1em; }
    .content {
      -webkit-box-flex: 0;
      -ms-flex-positive: 0;
      flex-grow: 0;
      -ms-flex-preferred-size: auto;
      flex-basis: auto;
      width: calc(75% - 2em);
      margin: 1em; } }

/*# sourceMappingURL=main.css.map */
