/*

Flex-Grid
Author: Charles Ojukwu

Mixins stored here

*/

*,*:before,*:after {
    box-sizing: border-box;
}

// Row
@mixin row($a:$gutter) {
	display: flex;
	@if $a != 0 {
		margin: -$a/2;
	}
	flex-wrap: wrap;
}

//Container
@mixin container($a:$gutter) {
	@include row;
}

//Column
@mixin column($a: 0, $b:$gutter, $min: 640px, $max: 0) {

	flex-basis: 100%;
	flex-grow: 1;
	margin: $b/2;
	display: block;

	//Coloured stripe background
	.stripes & {
		@include box-stripes;
	}
	
	@media screen and (min-width: $min) {
		@if $a != 0 {
			flex-grow: 0;
			$temp: ($a / $columns) * 100 * 1%;
			flex-basis: auto;
			width: calc(#{$temp} - #{$b});
		}
		@else {
			flex-grow: 1;
			flex-basis: 0;
			max-width: 100%;
		}
		
		margin: $b/2;
	}
}

//Push
@mixin push($a) {
	position: relative;
	flex-grow: initial;
	left: calc(#{$a} * 100% / #{$columns});
}

//Pull
@mixin pull($a) {
	position: relative;
	flex-grow: initial;
	right: calc(#{$a} * 100% / #{$columns});
}